@import "tailwindcss";

:root {
  --purple: #b7c5f5;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-overpass);
}

@theme {
  --font-inter: var(--font-inter);
  --font-zeyada: var(--font-zeyada);
}

@layer base {
  button {
    @apply cursor-pointer transition duration-200 ease-in-out;
  }
  input::placeholder {
    @apply text-gray-500;
  }
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  /* --background: #181818; */
  --background: radial-gradient(circle, rgb(5, 24, 32), rgb(5, 5, 5));
  --foreground: #ededed;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-overpass);
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.task--heading {
  background: linear-gradient(
    to right,
    rgb(241, 90, 191),
    rgb(92, 243, 235),
    rgb(71, 186, 240),
    #f75f9e
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnim 10s linear infinite;
  transition: 0.3s linear;
}

@keyframes colorAnim {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 50vh;
  }

  100% {
    background-position: 100vh;
  }
}
