@import "tailwindcss";

:root {
  --purple: #b7c5f5;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-overpass);
}

@layer base {
  button {
    @apply cursor-pointer transition duration-200 ease-in-out;
  }
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-overpass);
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
