@import "tailwindcss";

:root {
  --purple: #b7c5f5;
  --background: #ffffff;
  --foreground: #171717;
  --info-bg: rgb(34, 64, 70);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-overpass);
}

@theme {
  --font-inter: var(--font-inter);
  --font-caveat-brush: var(--font-caveat-brush);
}

@layer base {
  button {
    @apply cursor-pointer transition duration-200 ease-in-out;
  }
  input::placeholder {
    @apply text-gray-500;
  }
}

.light {
  --background: radial-gradient(circle, rgb(214, 213, 213), rgb(233, 233, 233));
  --foreground: #171717;
  --info-bg: #dbdada;
  --auth-form-bg: linear-gradient(
    to left,
    rgb(223, 248, 233),
    rgb(230, 247, 240)
  );
  --auth-btn: rgb(153, 248, 196);
  --input-focus-border: black;
  --input-border-color: #818080;
}

.dark {
  /* --background: #181818; */
  --background: radial-gradient(circle, #051820, rgb(5, 5, 5));
  --foreground: #ededed;
  --info-bg: rgb(34, 64, 70);
  --auth-form-bg: linear-gradient(to left, rgb(22, 39, 41), rgb(22, 46, 36));
  --auth-btn: rgb(10, 182, 153);
  --input-focus-border: white;
  --input-border-color: #9c9c9c;
}

html {
  width: 100%;
  overflow-x: hidden;
}

.info--container {
  background: var(--info-bg);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-overpass);
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.auth--form {
  background: var(--auth-form-bg);
}
.auth--form input {
  width: 100%;
  border-color: var(--input-border-color);
}

.auth--form input:focus {
  border-color: var(--input-focus-border);
}

.auth--btn {
  background: var(--auth-btn);
}

.task--heading {
  background: linear-gradient(
    to right,
    rgb(241, 90, 191),
    rgb(92, 243, 235),
    rgb(71, 186, 240),
    #f75f9e
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnim 10s linear infinite;
  transition: 0.3s linear;
}

.toast--notification {
  animation: slide 0.3s linear forwards;
  animation-delay: 3s;
}

@keyframes colorAnim {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 50vh;
  }

  100% {
    background-position: 100vh;
  }
}

@keyframes slide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}
